<app-header></app-header>
<app-title [message]="title"></app-title>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; height: 500px">
 <span matTooltip="Quay lại" routerLink="{{urlNextPage}}" style="font-size: 35px; cursor: pointer;"
       class="material-icons hoverYellowColor">arrow_back</span>
  <div class="row" style="height: 500px">
    <div class="col-3" style="background-color: whitesmoke;">
      <ul style="margin-top: 20px">
        <li *ngIf="isStudent" class="cursorTag hoverYellowColor" style="margin-top: 5px" [routerLink]="['/summary']">
          Điểm môn học
        </li>
        <li *ngIf="isStudent" class="cursorTag hoverYellowColor" style="margin-top: 5px" [routerLink]="['/tuition']">
          Học phí
        </li>
        <li *ngIf="isTeacher" class="cursorTag hoverYellowColor" style="margin-top: 5px" [routerLink]="['/lessonPlan']">
          Soạn đề
        </li>
        <li (click)="toChangePassword()" class="cursorTag hoverYellowColor" style="margin-top: 5px">Đổi mật khẩu</li>
      </ul>
    </div>
    <div class="col-1">
      <div class="row">
        <div style="background-color: whitesmoke; height: 500px" class="col-4"></div>
        <div class="col-4"></div>
        <div style="background-color: whitesmoke; height: 500px" class="col-4"></div>
      </div>
    </div>
    <div *ngIf="openInformation && !openChangePassword && !openUpdateUser" class="col-8"
         style="background-color: whitesmoke">
      <div style="padding-top: 15px" *ngIf="idUserLogin == idUser">
        <span matTooltip="Sửa thông tin" (click)="toUpdateUser()"
              class="material-icons hoverYellowColor cursorTag">edit</span>
      </div>
      <hr>

      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-1">
              <span *ngIf="idUserLogin == idUser" class="material-icons">account_circle</span>
            </div>
            <div class="col-4">
              <p>Tên đăng nhập:</p>
            </div>
            <div class="col">
              <p *ngIf="idUserLogin == idUser">
                {{user?.username}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
              <span class="material-icons">badge</span>
            </div>
            <div class="col-4">
              <p>Tên đầy đủ:</p>
            </div>
            <div class="col">
              <p>{{user?.fullName}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
              <span class="material-icons">date_range</span>
            </div>
            <div class="col-4">
              <p>Ngày đăng kí:</p>
            </div>
            <div class="col">
              <p>{{user?.createdDate | date: 'dd/MM/yyyy'}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
              <span class="material-icons">phone</span>
            </div>
            <div class="col-4">
              <p>Số điện thoại:</p>
            </div>
            <div class="col">
              <p>{{user?.phoneNumber}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
              <span class="material-icons">email</span>
            </div>
            <div class="col-4">
              <p>Email:</p>
            </div>
            <div class="col">
              <p>{{user?.email}}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="col-6">
            <div align="right" style="padding-right: 20px">
              <img style="width: 200px; height: 200px; border-radius: 50%; margin-bottom: 15px"
                   src="../../../assets/image/harvard.jpg">
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div *ngIf="!openInformation && openChangePassword && !openUpdateUser" class="col-8"
         style="background-color: whitesmoke">
       <span (click)="toInformation()" style="margin-top: 15px; font-size: 24px"
             matTooltip="Đóng" class="material-icons hoverYellowColor cursorTag">highlight_off</span>
      <hr>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="row">
          <div class="col-5">
            <label for="1">Mật khẩu hiện tại:</label>
            <input id="1" type="password" formControlName="password" class="form-control"
                   placeholder="Mật khẩu hiện tại *">
            <span style="font-size: 13px">Tối đa 32 kí tự</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="2">Mật khẩu mới:</label>
            <input id="2" type="password" formControlName="newPassword" class="form-control"
                   placeholder="Mật khẩu mới *">
            <span style="font-size: 13px">Tối đa 32 kí tự</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="3">Xác nhận Mật khẩu mới:</label>
            <input id="3" type="password" formControlName="confirmNewPassword" class="form-control"
                   placeholder="Xác nhận lại Mật khẩu *">
            <span style="font-size: 13px">Tối đa 32 kí tự</span>
          </div>
        </div>
        <button [disabled]="!changePasswordForm.valid" style="margin-bottom: 10px" class="btn btn-primary mt-4"
                type="submit">Đổi mật khẩu
        </button>
      </form>
    </div>
    <div *ngIf="!openInformation && !openChangePassword && openUpdateUser" class="col-8"
         style="background-color: whitesmoke;">
      <div style="padding-top: 5px;">
       <span (click)="toInformation()" style="margin-top: 15px; font-size: 24px"
             matTooltip="Đóng" class="material-icons hoverYellowColor cursorTag">highlight_off</span>
      </div>
      <hr>
      <form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()">
        <div class="row">
          <div class="col-5">
            <label>Tên đầy đủ:</label>
            <input type="text" formControlName="fullName" class="form-control"
                   placeholder="Tên đầy đủ">
            <span style="font-size: 13px">Tối đa 32 kí tự</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label>Email:</label>
            <input type="text" formControlName="email" class="form-control"
                   placeholder="Email">
            <span style="font-size: 13px">Tối đa 32 kí tự</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label>Số điện thoại:</label>
            <input type="text" formControlName="phone" class="form-control"
                   placeholder="Số điện thoại">
            <span style="font-size: 13px">Tối đa 32 kí tự</span>
          </div>
        </div>
        <div class="col">
          <button style="margin-bottom: 10px" class="btn btn-primary mt-4" type="submit">Thay đổi</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div style="height: 50px" class="row"></div>

