<div class="container">
  <form [formGroup]="lessonForm" (ngSubmit)="createLesson()">
    <div style="margin-left: 10px">
      <div class="row align-items-center">
        <div class="col mt-4">
          <label>Tên bài học:</label>
          <input formControlName="title" class="form-control" placeholder="Tên bài học">
          <span style="font-size: 13px">Tối đa 32 kí tự</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col">
          <input (click)="toSourceUpload()" type="radio" id="html" name="fav_language" value="HTML">
          <label for="html">Tải lên từ máy tính của bạn</label>
          <br>
          <input (click)="toSourceUrl()" type="radio" id="css" name="fav_language" value="CSS">
          <label for="css">Từ đường dẫn khác</label><br>
        </div>
      </div>
      <div *ngIf="sourceUpload">
        <div class="row">
          <div class="col">
            <input type="file" (change)="onFileSelected($event)" accept="video/*">
            <button (click)="uploadVideo()">Tải lên</button>
          </div>
        </div>
      </div>
      <div *ngIf="sourceUrl">
        <div class="row" style="margin-top: 10px">
          <div class="col">
            <input formControlName="title" class="form-control" placeholder="Địa chỉ bài học">
          </div>
        </div>
      </div>

      <button style="margin-top: 10px" class="btn btn-primary" type="submit">Tạo Bài học</button>
    </div>
  </form>
</div>
