<app-header></app-header>
<div class="container">
  <form [formGroup]="courseForm" (ngSubmit)="createCourse()">
    <div style="margin-left: 10px">
      <div class="row align-items-center">
        <div class="col mt-4">
          <label>Tên khóa học:</label>
          <input formControlName="courseName" class="form-control" placeholder="Tên khóa học">
          <span style="font-size: 13px">Tối đa 32 kí tự</span>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col mt-4">
          <label>Mô tả khóa học:</label>
          <textarea formControlName="courseDescription" class="form-control" placeholder="Mô tả"></textarea>
          <span style="font-size: 13px">Tối đa 32 kí tự</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-6">
          <div style="font-size: 19px">
            <div>
              <p>Ngày bắt đầu khóa học:</p>
              <input formControlName="startDate" type="date">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div style="font-size: 19px">
            <div>
              <p>Ngày kết thúc khóa học:</p>
              <input formControlName="endDate" type="date">
            </div>
          </div>
        </div>
      </div>
      <button style="margin-top: 10px" class="btn btn-primary" type="submit">Tạo khóa học</button>
    </div>
  </form>
</div>
