/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hoverYellowColor:hover {
  color: #ffc107;
}

.cursorTag {
  cursor: pointer
}

.boxShadow {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
