/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hoverYellowColor:hover {
  color: #ffc107;
}

.cursorTag {
  cursor: pointer
}

.boxShadow {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* status-button */
.status-button {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.status-button:hover {
  background-color: #f5f5f5;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.online {
  background-color: #31a24c;
}

.busy {
  background-color: #f44336;
}

.offline {
  background-color: #9e9e9e;
}

/* status-button end */

.mat-tooltip {
  font-size: 16px !important;
}

.ellipsis {
  white-space: nowrap; /* không xuống dòng */
  overflow: hidden; /* ẩn phần tràn */
  text-overflow: ellipsis; /* hiện dấu ... */
  max-width: 200px; /* hoặc width cố định */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Căn giữa */
  gap: 20px; /* Khoảng cách giữa card */
  padding: 20px; /* Tạo khoảng cách 2 bên */
}

/* hourglass */

.hourglass-flip {
  animation: flipHourglass 2s ease-in-out infinite;
  display: inline-block;
}

@keyframes flipHourglass {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  95% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End hourglass */


.avatar-wrapper {
  position: relative;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

/* Chấm trạng thái */
.status-dot {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
}

/* Online */
.status-dot.online {
  background-color: #28a745; /* xanh */
  box-shadow: 0 0 6px rgba(40, 167, 69, 0.8);
}

/* Offline */
.status-dot.offline {
  background-color: #adb5bd; /* xám */
}

.status-dot.online {
  animation: pulseOnline 1.5s infinite;
}

@keyframes pulseOnline {
  0% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.8);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(40, 167, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
  }
}
