<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col-12">
      <h4>Thông tin khóa học</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h2>{{course?.courseName}}</h2>
    </div>
    <div class="col-6">
      <button class="btn btn-info" (click)="courseRegister()">Đăng kí học khóa này</button>
    </div>
  </div>

  <p>{{course?.courseDescription}}</p>
  <p>{{course?.startDate}}</p>
  <p>{{course?.endDate}}</p>
  <p>{{course?.status}}</p>
</div>



